﻿/*ADVANCED SEARCH FORM*/

.sn-advanced-search-row {
    margin: 10px 0;
}

    .sn-advanced-search-row .sn-button.sn-submit {
        margin-lefT: 20px;
    }

    .sn-advanced-search-row .label {
        display: inline-block;
        padding-left: 20px;
        width: 130px;
    }

.sn-advanced-search-row .k-dropdown .k-state-focused .k-input .k-select{
    color: #fff !important;
}

.k-multiselect{
    float:left
}

.k-state-focused > .k-select {
    background-color: #dadada !important;
    border-color: #dadada !important;
}

.k-state-hover > .k-select, .k-state-hover.k-state-focused > .k-select {
    border-color: transparent !important;
    background: #007DC6 !important;
}

.sn-advanced-search-row .sn-button{
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background: #007dc2;
    border: solid 1px #007dc2;
    padding: 5px 10px;
    overflow: visible;
    margin-left: 20px
}